{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "airbnb-base/legacy"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "comma-dangle": "off",
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "computed-property-spacing": [
      "error",
      "always"
    ],
    "padded-blocks": [
      "error",
      {
        "classes": "always"
      }
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "no-prototype-builtins": "off",
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-magic-numbers": [
      "error",
      {
        "ignore": [
          -1,
          0,
          1
        ],
        "enforceConst": false,
        "ignoreArrayIndexes": true
      }
    ],
    "class-methods-use-this": "off",
    "max-len": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-unused-expressions": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "consistent-return": "off",
    "no-empty": "off",
    "default-case": "off",
    "no-await-in-loop": "off",
    "func-names": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}
